* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.logo {
    width: 100%;
}

header div {
    width: 30%;
}

.navbar {
    border-radius: 6px;
}

.nav-link {
    color: red;
    font-weight: bold;
}

.nav-link:hover {
    color: red;
}


.inicio {
    top: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2rem;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.308);
}

.inicio h1 {
    color: red;
    text-shadow: 9%;
}

.inicio p {
    color: yellow;
}

.inicio a {
    color: red
}

.carousel {
    width: 100%;
}

body {
    background-color: #fff;
}

header div a img {
    width: 20rem;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.174);
}


.footer div a {
    margin-left: 5px;
    color: red;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer div p {
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo {
    margin: 10px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: red
}


.contacto {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacto div h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.contacto div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.contacto div ul i {
    color: red;
    margin-right: 5px;
}

form {
    width: 100%;
    background-color: red;
    padding: 5%;
    border-radius: 6px;
}

.form-control {
    height: 50px;
    margin-bottom: 10px;
}

.titulo_form {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.form-check.form-check-inline {
    color: white;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sobre_nosotros {
    margin: 10px;
    font-size: large;
    padding: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ubicacion {
    display: flex;
    justify-content: center;
    width: 100%;
}

.obtene_tu_licencia {
    margin: 10px;
}

.requisitos {
    margin-left: 30px;
}

.requisitos ul {
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.requisitos ul li {
    padding: 5px;
}

.material {
    display: flex;
    flex-wrap: wrap;
}

.material div {
    width: 270px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.material div img {
    width: 100%;
    height: 65%;
}

.material h2 {
    margin: 10px;
    text-align: center;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material div:hover {
    transform: scale(1.1);
    transition: .7s;
}


.curso {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.curso img {
    width: 100%;
    border-radius: 6px;
}

.curso h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    margin: 10px;
}

.curso p {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curso h3 {
    margin: 10px;
}

.curso a {
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: red;
    border: solid 1px red;
    border-radius: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curso a:hover {
    background-color: red;
    border: solid 1px yellow;
    color: yellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card a {
    border: solid 1px red;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: red;
    text-align: center;
    border-radius: 6px;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card a:hover {
    color: yellow;
    background-color: red;
    border: solid 1px yellow;
}

@media screen and (max-width: 991px) {
    .curso {
        display: flex;
        flex-wrap: wrap;
    }

    .material {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 170%;
    }

    .container {
        align-items: center;
    }


    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .footer div p {
        text-align: center;
    }
}